.link_href{
    border: 1px solid black;
    margin-top: 40px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 31px;

}