* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.title {
  font-size: 26px;
  width: 80vw;
  margin:auto;
  color: black;
}

.clock {
  background: url('../img/clock.png') -11px -1px;
  background-size:cover ;
  width: 312px;
  height: 300px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.hour {
  position: absolute;
  top: 38%;
  left: 48.7%;
  width: 4px;
  height: 40px;
  background: #333;
  z-index: 4;
  transform-origin: 2.5px 37.5px;
  transition: transform 2s ease;
}
/*@media only screen and (min-width: 768px) and (min-height: 540px) {*/
  /*.hour {*/
    /*top: calc(50% - 57.5px);*/
    /*left: calc(50% - 2.5px);*/
    /*width: 5px;*/
    /*height: 60px;*/
    /*transform-origin: 2.5px 57.5px;*/
  /*}*/
/*}*/

.min {
  position: absolute;
  top: 27%;
  left: 49%;
  width: 4px;
  height: 70px;
  background: black;
  transform-origin: 2.5px 67.5px;
  transition: transform 1s ease;
}
/*@media only screen and (min-width: 768px) and (min-height: 540px) {*/
  /*.min {*/
    /*top: calc(50% - 102.5px);*/
    /*left: calc(50% - 2.5px);*/
    /*width: 5px;*/
    /*height: 105px;*/
    /*transform-origin: 2.5px 102.5px;*/
  /*}*/
/*}*/

.sec {
  position: absolute;
  top: calc(50% - 78.75px);
  left: calc(50% - 1.25px);
  width: 2.5px;
  height: 80px;
  border-radius: 0 0 2.5px 2.5px;
  background: rgba(231, 76, 60, 1);
  z-index: 2;
  transform-origin: 1.25px 78.75px;
  transition: transform .5s ease;
}
/*@media only screen and (min-width: 768px) and (min-height: 540px) {*/
  /*.sec {*/
    /*top: calc(50% - 118.75px);*/
    /*left: calc(50% - 1.25px);*/
    /*width: 2.5px;*/
    /*height: 120px;*/
    /*transform-origin: 1.25px 118.75px;*/
  /*}*/
/*}*/

/*@media only screen and (min-width: 768px) and (min-height: 540px) {*/
  /*.digit {*/
    /*top: calc(50% - 150px);*/
    /*left: calc(50% - 150px);*/
    /*width: 300px;*/
    /*font: 58px/300px Arial;*/
  /*}*/
/*}*/
.clock:hover + .digit {
  display: block;
}

