
@media only screen and (max-width: 980px) {
  .history{
    box-sizing: border-box;
    padding: 20px 25px 0 25px;
  }
  .caclulator_block2 .road span {
    width: 100%;
  }
  .road button {
    width: 100%;
  }
  .caclulator_block4 {
    min-height: 650px;
    .bold {
      float: none;
    }
  }

  .caclulator_block3 {
    min-height: 270px;
  }
    .right_to_span, .right_to_span2 {
      input{
        margin: 0 0 5px 0;
      }
      margin-left: 0;
      width: 210px;
      float: none;
      overflow: hidden;
  }
  .right_to_span2 span {
    width: 143px;
  }
  .caclulator_block2{
    min-height: 550px;
    select,input{
      width: 100%;
      margin-bottom: 15px;
      float: none;
    }
    .Amount{
      margin-left: 0;
    }
  }
  .caclulator_block1_menu{
    li{
      display: none;
    }
    #type_doc{
      display: block;
    }
  }
  .caclulator_block1{
    .hide{
      display: none;
    }
    span{
      float: none;
      margin-bottom: 10px;
    }
    input,select{
      width: 100%;
    }
  }
  .buy_product1_2{
    width: 100%;
    span{
      float: left;
    }
    input{
      width: 60px;
      float: right;
    }
    .delay{
      width: 28px;
    }
  }
  .slider {
    width: 100%;
    float: none;
    margin-bottom: 25px;
  }
  .personal_cabinet,.successful{
    width: 48.8%;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
  }
  .comments {
    float: left;
   height: 550px;
    width: 48.8%;
    display: block;
  }
  .block_small1{
    float: right;
    margin: 0 0 0 0;
  }
  .block_small2{
    float: left;
    margin: 0 0 0 0 ;
  }
  .block_small3{
    float: right;
    margin: 0 0 0 0 ;
  }
  .block_small{
    width: 48.8%;
    height: 550px;
    margin-top: 25px;
  }
  .login{
    margin-bottom: 0;
    margin-left: 0;
    width: 48.8%;
    float: right;
  }
  .main .popular_x{
    margin-left: 0;
    margin-top: 0;
    width: 48.8%;
    float: right;
    margin-bottom: 0;
    background-color: white;
    height: 480px;
  }
  .analyse_schedule{
    width: 100%;
    float: none;
  }
  .contacts2{
    overflow-x: auto;
    table{
      width: 980px;
    }
    .line{
      min-width: 980px;
    }
  }
  .footer{
    box-sizing: border-box;
    padding:0 25px;
  }
  .conteiner {
    box-sizing: border-box;
    padding:0 25px;
  }

    .navigation_block, .popular_block {
      width: 48.7%;;
      margin-right: 0;
      margin-left: 0;
    }
    .popular_block{
      width: 51%;
    }
    .cars, .arrears_block,.analyse,.consuption_rigth,.delivery ,.debit,.mydata_right{
      width: 48.7%;
      float: right;
      margin-left: 0;
      margin-right: 0;
    }
    .arrears_block{
      width: 46.3%;
    }
  .base_select_all {
    overflow: auto;
  }
  .header_menu{
    padding: 0 20px;
  }
  .menu_li2 {
    border-left: 1px solid white;
    width: 43%;
  }
  .menu_li1{
    display: none;
  }
  .menu_li3{
    width: 29%;
  }
  .menu_li4{
    width: 18%;
  }
  .menu_li5,.menu_li6{
    width: 5%;
  }
.logo_bg{
  padding: 0 15px;
}
  .otgr{
    display: none;
  }
  .base {
    margin-left: 205px;
  }
  .base, .base2 {
    width: 640px;
  }
  .table_s1 select,.table_s select, .table_s input, .delivery .table_s select, .delivery .table_s input {
    width: 100%;
  }

  .analyse_message_table {
    overflow: auto;
    table {
      width: 980px;
    }
  }
  #period{
    width: 210px;
    display: block;
    float: none;
  }
  .mailing_rigth{
    span{
      display: none;
    }
    input,select{
      width: 100%;
    }
  }
  .delivery {
    .datepicker-here {
      & + label {
        right: 0;
      }
    }
  }
    .table_s span {
      display: none;
    }
    .goods1 {
      .table_s {
        select {
          width: 100%;
        }
      }
    }
    .mailing_rigth {
      width: 48.7%;
    }
    .left_menu{
      width: 48.6%;
    }
  #date_to,#date_from{
    width: 100%;
    float: none;
  }
    .delivery {
      span {
        display: none;
      }
    }
    .add_prod_inp {
      input {
        float: none;
        width: 100%;
      }
      select {
        float: none;
        width: 100%;
      }
    }
    .phone, .delivery_person, .conditions {
      input, select {
        float: none;
        width: 100%;
        margin-bottom: 13px;
      }
    }
    .or {
      display: block;
      float: none;
      margin: auto;
    }
}
@media only screen and (max-width: 600px) {
.block_new_line{
  float: none;
  input{
    margin-left: 5px;
    margin-right: 5px;
  }
}
  .contacts_left{
    width: 100%;
    float: none;
    text-align: center;
  }
  .contacts_right{
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
    .navigation_block,
    .cars,
    .arrears_block,
    .popular_block,
    .analyse,
    .consuption_rigth,
    .delivery,
    .debit,
    .mailing_rigth,
    .mydata_right{
      width: 100%;
      float: none;
  }

  .message{
    input{
      width: 100%;
    }
    .message_right{
      float: none;
    }
  }
  .footer_sections {
    width:100% ;
  }
  .footer_search{
    width: 100%;
    margin-bottom: 30px;
  }
  .logo_bg {
    padding: 9px 15px;
    box-sizing: border-box;
  }
.menu_li3{
  width: 40%;
  span{
    display: none;
  }
}
  .logo{
    padding: 0 15px;
  }
  .menu_li4{
    width: 40%
  }
  .menu_li5,.menu_li6{
    width: 10%
  }
  .menu_li2{
  display: none;
  }
}
@media only screen and (max-width: 700px) {
  .block_small,.personal_cabinet,.main .popular_x,.successful{
    width: 100%;
    margin-bottom: 25px;
    float: none;
  }
  .main .popular_x {
    height: 275px;
  }
  .complex_left,.complex_right{
    float: none;
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
    margin-top: 0;
  }
  .left_menu{
    width: 100%;
    float: none;
    margin:0;
    margin-bottom: 25px;

  }
  .history_left, .history_left_top,.history_left_bottom{
    float: none;
    margin:0  auto 25px;
    width: 100%;
  }
  .page_history_right{
    margin: auto;
    float: none;
  }
  .history_right,.page_history_left{
    padding: 25px;
    margin: 0 auto 40px;
  }
  .caclulator_block1_menu {
    display: none;
  }
  .buy_product1_1 {
    margin: 0;
  }
}
@media only screen and (max-width: 600px){
  .footer_section {
     float: none;
    margin: 25px 0;
  }
  .logo1{
    width: 90px;
  }
  .logo2{
    width: 140px;
  }
  .menu,.search,.search+input{
    display: none;
  }
  .small_menu{
    display: block;
  }
  .logo_bg{
    height: 90px;
  }
}
@media only screen and (max-width: 460px) {
  .caclulator_block4 {
    min-height: 750px;
  }
  .Amount {
    span,input {
      float: none;
      margin-bottom: 5px;
    }
  }
  .logo1{
    width: 60px;
  }
  .logo2{
    width: 110px;
  }
  .logo_bg {
    padding: 25px 15px;
  }
  .small_menu {
    margin-top: 7px;
  }
  .buy_product1_1{
    select{
      float: none;
    }
    button{
      float: none;
    }
  }
}
