@import "smart-grid";
$orange: #E74700;
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  word-wrap: unset!important;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span, p {
  color: white;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}
.cont{
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 500px;
  height: 799px;
  &.active{
    overflow-x: hidden;
  }
}
.rect{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  background: black;
}
.menu{
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: .3s;
  height: 799px;
  background: url('../img/menu.png') no-repeat;
  background-size: 100% 799px;
  &.active{
    transition: .3s;

    left: 0;
  }
}
.back{
  width: 100%;
  transition: .3s;
  height: 799px;
  z-index: 4;
  background: url("../img/back.png") no-repeat;
  background-size: 100% 799px;

  &.active{
    transition: .3s;
    perspective: 500px;
    transform:translateX(50%) scale3d(.8, 0.8, 0.2);;
  }
}