.second-scroll2 {
    max-width: 1170px;
    margin: auto;
}
.full-comment{
    min-height: 660px;
    max-width: 770px;
    width: 100%;
    background-color: white;
}
.full-comment .img{
    min-height: 300px;
    background: url("img/news-1.png");
}