*{font-family: 'PT Sans', sans-serif;}
html {height: 100%;}
body{background: url(img/bodyBack.jpg);height: 100%;}
a{text-decoration: none;}
.first-scroll {background: url(img/back.png) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;background-color: #dedddb;
height: 90%;}
.top-line{background: rgba(26,44,78,0.9);}
.top-line p{color: #bbbbbf;}
.mail-top{display: flex;}
.mail-top img{width: 4vh;height: 4vh; margin:2.5vh 2vh 2.5vh 0;}
.mail-top p{margin-top: 3vh;font-size: 1.2rem;}
.viber-top img{width: 4vh;height: 4vh; margin:2.5vh 2vh 2.5vh 0;}
.viber-top a{color: #bbbbbf;font-size: 1.2rem;}
.search{margin:2.5vh 0 2.5vh 0;background: #9b9fa9;width: 50%;padding:0.5vh 2vh;border-radius: 5px;line-height: 1.4}
input {width: 100%;}
::-webkit-input-placeholder {font-size: 1.1rem;}
::-moz-placeholder {font-size: 1.1rem;}
:-ms-input-placeholder {font-size: 1.1rem;}
:-moz-placeholder {font-size: 1.1rem;}
input.valid {text-indent: 4vh;color: #5b5f62;border: none;background:url(img/search.png) no-repeat;background-size: 18px;
background-position: left center;}
input:focus {outline:none;}
input:focus::-webkit-input-placeholder {opacity: 0;}
.social-top {display: flex;}
.facebook-top{background:url(img/facebook-top.png) no-repeat;background-size: 4vh 4vh;
width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 0;}
.facebook-top:hover{background:url(img/facebook-top-hover.png) no-repeat;background-size: 4vh 4vh;
width: 4vh;height: 4vh;}
.instagram-top{background:url(img/instagram-top.png) no-repeat;background-size: 4vh 4vh;
width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 0;}
.instagram-top:hover{background:url(img/instagram-top-hover.png) no-repeat;background-size: 4vh 4vh;
width: 4vh;height: 4vh;}
.spacer{height: 10vh;}

/*menu*/
.menu{margin:0 10% -2% 10%;}
.menu a{color: white;
font-size: 8pt;
text-decoration: none;}
.wrap{filter: drop-shadow(0px 10px 5px black)}
.math,.lingua,.camp,.gallery,.team{padding-top: 13%;
text-align: center;
height: 100px;}
.math{background: rgba(255,192,0,0.9);
-webkit-clip-path: polygon(3% 15%, 82% 0, 100% 38%, 0 38%);
clip-path: polygon(3% 15%, 82% 0, 100% 38%, 0 38%);}
.math:hover{background: rgba(255,192,0,1);font-weight: bold;}
.lingua{background: rgba(234,60,94,0.9);
-webkit-clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);
clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);margin-left: 15%;}
.lingua:hover{background: rgba(234,60,94,1);font-weight: bold;}
.camp{width:120px;background: rgba(109,97,217,0.9);
-webkit-clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);
clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);margin-left: 15%;}
.camp:hover{background: rgba(109,97,217,1);font-weight: bold;}
.gallery{background: rgba(0,103,234,0.9);
-webkit-clip-path: polygon(18% 23%, 89% 3%, 100% 38%, 14% 38%);
clip-path: polygon(18% 23%, 89% 3%, 100% 38%, 14% 38%);padding-left: 15%;}
.gallery:hover{background: rgba(0,103,234,1);font-weight: bold;}
.team{background: rgba(8,140,67,0.9);
-webkit-clip-path: polygon(18% 14%, 89% 3%, 100% 38%, 14% 38%);
clip-path: polygon(18% 14%, 89% 3%, 100% 38%, 14% 38%);padding-left: 15%;}
.team:hover{background: rgba(8,140,67,1);font-weight: bold;}

/*title+logo*/
.container-fuid{text-align: center;}
h1{color: white;font-weight: bold;font-size:5rem;
-webkit-text-stroke: 0.7px #43bbc3;overflow: hidden;
text-align: center;margin:0;}
.logo{margin: 2% 0 5% 0;text-align: center;}
.logo img{width: 32vh;}
.title{color: white;text-align: center;background: url(img/wave.png) no-repeat center center;
  -webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;}
.title p{font-weight: bold;margin: 2vh 0 2.5vh 0;font-size: 1.8rem;}

/*news*/
.second-scroll {background: url(img/backSecondScroll.png) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 5%;overflow:hidden;padding-bottom: 10vh;}
.second-scroll-team{background: url(img/back-team.jpg) repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
.team-width{max-width: 14%;} 
.gallery-width{max-width: 12%;}
.gallery-back {background: url(img/back-gallery) center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;background-repeat: repeat-y;overflow: hidden;}
.call {background: #009ea8; color:black;padding: 5px;margin-top: 8vh;
text-transform: uppercase;font-size:0.9rem;font-weight: bold;}
.news-call{color:black;text-transform: uppercase;text-align: left;font-size:20px;font-weight: bold;}
.gallery-color{color: #00a4ae;}
.team-color{color: #2b4e64;}
.line {border-top: 1px solid #6f7477;margin-top: 30px;}
.line-gallery-color{border-top: 1px solid #006aa8;margin-top: 30px;}
.line-camp {border-top: 1px solid #6f7477;margin: ;}
.news-camp{color: #006aa8;font-weight: bold;text-transform: uppercase;margin:10px 0 10px -12% !important;font-size: 1.9rem;}
.second-row{color: #006aa8;margin:10px 0 10px -12% !important;font-size: 1.9rem;}

/*news-slider*/
.news-holder {margin: 0 auto;font-size: 13px;display: flex;width: 100%;}
.news-holder * {margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.news-header{margin-bottom: -1px;}
.news-header img{width: 100%;max-height:150px;}
.news-stat{background: white;text-align: center;margin: 0 auto;
border-top: 1px solid #6f7477;border-bottom: 1px solid #6f7477;max-height:50px;}
.news-stat img{padding:0;text-align: center;margin:9% 0 8% 40%;width: 15px; height:15px;}
.news-stat p{margin:9% 0 9% 10%;color:#6f7477;font-size: 1rem;}
.com{display: flex;}
.showHideContent{border:none;background: url(img/comments.png) no-repeat;height:15px; width: 15px;padding: 0;margin:9% 0 8% 40%;}
.showHideContent:hover{background: url(img/comment-hover.png) no-repeat;}
.fb-comments-count{color:#6f7477;margin:9% 0 9% 10%;font-size: 1rem;}
.right-border{border-right: 1px solid #6f7477;display: flex;}
.view img{height: 10px;margin-top: 10%;}
.news-headlines li {
position: relative;
z-index: 20;
width:100%;
font-size:14px;}
.nh-anim {
-webkit-transition: all .25s ease-out;
-moz-transition: all .25s ease-out;
-o-transition: all .25s ease-out;
transition: all .25s ease-out;
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);}
li.selected img{-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 25%, 87% 48%, 100% 69%, 100% 84%, 100% 100%, 15% 100%, 0 100%, 0% 85%);
clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 25%, 87% 48%, 100% 69%, 100% 84%, 100% 100%, 15% 100%, 0 100%, 0% 85%);}
.news-headlines .highlight {
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 10;}
.news-headlines {list-style: none;
background:white;
width: 35%; max-width: 370px;
height: 100%;
max-height: 400px;
margin-left: 5%;
overflow-y:scroll;float: right;}
.news-preview {
float: left;
width: 60%;
max-height: 400px;
z-index: 5;
position: relative;}
li img{width: 100%;margin:0;}
li p{color: #6f7477;font-size:1rem;margin:1vh 0 0 2vh !important;}
li h5{color: #4283b5;font-size:1.1rem;margin:1vh 0 0 2vh !important;overflow: hidden;}
li h4 {color: black;font-size:1.2rem;margin:1vh 0 0 2vh !important;overflow: hidden;}
li a{color: black;font-size: 1rem;font-weight: bold;margin:0 0 0 2vh !important;}
.news-headlines li a img{width: 25px;}
.news-preview img {display: block;} 
.news-content {background: white;
border: 1px solid #6f7477;
padding: 0;margin: 0;
position: absolute;
z-index: 10;
display: none;}

.resume{color:black;background: white;height:180px;}
.resume p{font-size: 1.1rem;margin: 25px 30px 15px 30px;}
.top-content {display: block;}
.news-date{background: white;border-top: 1px solid #6f7477;}
.news-date p{font-size: 1rem;color:#6f7477;padding: 0;margin: 10px 30px;}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}

/*comments*/
.comment-wrap{max-width: 38.5%;margin: 2% 0 0 1.4%;}
.comment-head{background: #00a4ae;color: black;font-weight: bold;padding: 5px 0;z-index: 100;}
.comment-head p{margin:5px 0 5px 35px;font-size: 1.5rem}
.white{background: white;}
.fb-comments{margin-top: -6%;z-index: 1;}
/*gallery*/
.first-gallery{padding: 0;margin-left: 1%;}
.first-slider{margin-left: -1%;}
.p-4{margin-top: -3%;}
.colorful-waves{
  background: url(img/colorful-waves.png) no-repeat left center ;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 330px;max-width: 300px;
margin-left: -33%;
 position:relative;z-index: 1;}
.p-4 img{width: 250px;height:100px;}
.content {position: relative;}
.navbar{border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);}
.fa.fa-navicon{color: #006aa8;} 
.film{background:rgba(26,46,83,0.8);margin-left: -57%;width: 250px;}
ol{list-style-type:none;}
.gallery-list{width: 250px;margin-left: -57%;max-height: 220px;overflow-y: scroll;background:rgba(26,46,83,0.8);}  
.gallery-list li {background: #dedddb;border-radius: 8px;margin-bottom: 20px;padding:3px 20px;font-size: 1.2rem;
font-weight:bold;margin-left: -10px;position:relative;z-index: 2;} 
.gallery-list a{color: #006aa8;}
#navbarToggleExternalContent{position: absolute;z-index: 1;}
.carousel-item {height: 350px;}

.carousel-indicators a,.carousel-indicators a.active  {width: 76px;
height: 100px;
background-color: transparent;
border: none;margin:0 3px;
}
.carousel-indicators {
bottom: -110px;
}
.carousel-indicators a img{width: 76px;}

/*partners*/
.third-scroll{background: url(img/number.png) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;}
.partners{margin:0 0 30px 20px;}
.slider {height: 20vh;margin-bottom: 40px;}
.sharp,.asp, .west{padding: 0 8% 0 8%;}
.slideControls{
  position: absolute;
  width: 100%;
  left: 0;
}

.slideControls .slideNext{margin-top: 5% !important;
  right: 3%;z-index: 100;
  position: absolute;
  cursor: pointer;
  background: url(img/arrow-prev.png);
  transform: scale(-1, 1);
}
.slideControls .slidePrev{margin-top: 5% !important;
  left: -5%; 
  position: absolute;
  cursor: pointer;
  background: url(img/arrow-prev.png);}

.carousel {position: relative;}
.carousel .slide {width: 22vh;text-align: center;}
.lSSlideOuter .lSPager.lSpg{display: none;}
.arrow-prev {width: 3vh !important;height: 3vh !important;}
.arrow-next {width: 3vh !important;height: 3vh !important;}

.links{margin-top: -5vh;
  background: url(img/map.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%;
  overflow: hidden;
  }

.spacer-2{height: 5vh;}  
.white-line{border-top: 1px solid white;margin-top: 30px;}
.links-call{color: white; font-size:20px;overflow:hidden;text-transform: uppercase;text-align: left;margin-bottom: 12vh;}
.links {text-align: center;}

.links p{color: white;font-size: 1.1rem;margin:1vh 0 12vh 0;}
.kiev {text-align: left;}
.kiev img, .kontora img{max-height: 60px;}
.kvanta img, .mpdyu img {max-width: 80px;}
.cyborg img {max-height: 80px;}
.liceum img{max-width: 100px;}
.kvanta p,.cyborg p,.liceum p,.mpdyu p{margin-left: 1vh;}
.kvanta,.cyborg,.liceum,.mpdyu{display: flex;text-align: left;}
.kvanta p{margin-top: 10%;}
.cyborg p,.mpdyu p,.liceum p{margin-top: 10%;}
.ruler img{float: right;width: 50px;}


.menu-footer {background: #707070;text-align: center;padding: 1.5vh 1vh 1.5vh 1vh;margin-top: -0.1vh;}
.menu-footer a {color: white;text-decoration: none;font-size: 1rem;}
.menu-footer a:hover{font-weight: bold;}
.footer-lingua{margin-left: 15px;}
.team-spacer{height: 10px;}
.team-photo{background: url(img/blue-waves.png) no-repeat center bottom;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  text-align: center;
margin:20px 40px;
}
.last-photo-row{margin-right:10%;}
.circle-back{ background:url(img/circle.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
padding: 12px 0;

}
.team-photo img{border-radius: 50%;max-width: 120px;}  
.team-photo h4{font-weight: bold; color: #27395b;font-size:1.58rem;}
.team-photo p{font-size: 0.8rem;margin-bottom: -20px;}

footer{
  background: url(img/footerBack.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 8vh 0 0 0;
  text-align: center;
  }

footer p {color: white;font-size: 1rem;}
footer a {color: #bbbbbf;text-decoration: none;font-size: 1rem;line-height: 1.3;}

.footer-logo{text-align: center;margin-left:-40px;}
.footer-logo img{width:120px;vertical-align: bottom;margin-bottom: 7px;}
.footer-logo p{margin:0 auto;}
.location{margin-left: 25px;}
.tag{display: flex;text-align: left;padding: 0;vertical-align: bottom;}
.tag p{color: #bbbbbf;}
.tag img{max-height: 20px;margin:0 2vh 2vh 0;}

.westsmall{display: flex;text-align: left;padding: 0;vertical-align: text-bottom;}
.westsmall img{width: 20px;height: 20px;margin:0 2vh 2vh 0;}
.westsmall p{color: #bbbbbf;}
.scheme a, .policy a{border-bottom: 1px solid #bbbbbf;}
.scheme a:hover, .policy a:hover{color: white;text-decoration: none;}
.footer-contact {}
.facebook{
 background:url(img/facebook.png) no-repeat;
 background-size: 20px;
 width: 4vh;
 height: 4vh;
 }
.facebook:hover{background:url(img/facebook-hover.png) no-repeat;background-size: 20px;
 width: 4vh;height: 4vh;}

.instagram{
 background:url(img/instagram.png) no-repeat;
 background-size: 20px;
 width: 4vh;
 height: 4vh;
margin-left:10px;
 }
.instagram:hover{background:url(img/instagram-hover.png) no-repeat;background-size: 20px;
 width: 4vh;height: 4vh;}

.mail{display: flex;margin-top: 2vh;padding: 0;}
.mail img{width: 20px;height: 20px;}
.mail p{color: #bbbbbf;margin-left: 2vh;margin-top: 5px;}
.viber{margin-top: 2vh;padding: 0;}
.viber img {width: 20px;height: 20px;float: left !important;}
.viber a{margin-left: 2vh;float: left !important;margin-top: 5px;}
.viber a:hover{text-decoration: none;color: white;}











