*{/* overflow-x: hidden; */font: PT Sans;}
html {height: 100%;}
body{background: url(img/bodyBack.jpg);height: 100%;}
.first-scroll {background: url(img/back.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90%;}
.top-line{background: rgba(26,44,78,0.9);}
.top-line p{color: #bbbbbf;}
.mail-top{display: flex;}
.mail-top img{width: 4vh;height: 4vh; margin:2.5vh 2vh 2.5vh 0;}
.mail-top p{margin-top: 3vh;font-size: 1rem;}
.viber-top img{width: 4vh;height: 4vh; margin:2.5vh 2vh 2.5vh 0;}
.viber-top a{color: #bbbbbf;font-size: 1.2rem;}
.search{margin:2.5vh 0 2.5vh 0;background: #9b9fa9;width: 50%;padding:0.5vh 2vh;border-radius: 5px;line-height: 1.4}
input.valid {text-indent: 4vh; font-size: 1.2rem;color: #5b5f62;
   border: none;   
   background:url(img/search.png) no-repeat;
   background-size: 2.7vh 2.7vh;
   background-position: left center;}
input:focus {outline:none;}
input:focus::-webkit-input-placeholder {opacity: 0;}
.social-top {display: flex;}

.facebook-top{background:url(img/facebook-top.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 0;}
.facebook-top:hover{background:url(img/facebook-top-hover.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;}

 .instagram-top{background:url(img/instagram-top.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 0;}
.instagram-top:hover{background:url(img/instagram-top-hover.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;}

.spacer{height: 10vh;}
/*menu*/
.menu{margin:0 10% -2% 10%;}
.menu a{color: white;
font-size: 8pt;
text-decoration: none;}
.wrap{filter: drop-shadow(0px 10px 5px black)}
.math,.lingua,.camp,.gallery,.team{padding-top: 13%;
text-align: center;
height: 18vh;}
.math{background: rgba(255,192,0,0.9);
-webkit-clip-path: polygon(3% 15%, 82% 0, 100% 38%, 0 38%);
clip-path: polygon(3% 15%, 82% 0, 100% 38%, 0 38%);}
.math:hover{background: rgba(255,192,0,1);font-weight: bold;}
.lingua{background: rgba(234,60,94,0.9);
-webkit-clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);
clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);margin-left: 15%;}
.lingua:hover{background: rgba(234,60,94,1);font-weight: bold;}
.camp{background: rgba(109,97,217,0.9);
-webkit-clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);
clip-path: polygon(14% 1%, 91% 20%, 100% 38%, 0 38%);margin-left: 15%;}
.camp:hover{background: rgba(109,97,217,1);font-weight: bold;}
.gallery{background: rgba(0,103,234,0.9);
-webkit-clip-path: polygon(18% 23%, 89% 3%, 100% 38%, 14% 38%);
clip-path: polygon(18% 23%, 89% 3%, 100% 38%, 14% 38%);padding-left: 15%;}
.gallery:hover{background: rgba(0,103,234,1);font-weight: bold;}
.team{background: rgba(8,140,67,0.9);
-webkit-clip-path: polygon(18% 14%, 89% 3%, 100% 38%, 14% 38%);
clip-path: polygon(18% 14%, 89% 3%, 100% 38%, 14% 38%);padding-left: 15%;}
.team:hover{background: rgba(8,140,67,1);font-weight: bold;}
/*title+logo*/
.container-fuid{text-align: center;}
h1{color: white;font: Open Sans;font-weight: 800;font-size:4rem;
 -webkit-text-stroke: 0.5px #43bbc3;overflow: hidden;
 text-align: center;margin:0;}
.logo{margin: 2% 0 5% 0;text-align: center;}
.logo img{width: 32vh;}
.title{color: white;text-align: center;background: url(img/wave.png) repeat; 
  background-size: contain;}
.title p{font-weight: bold;font: Open Sans;margin: 2vh 0 2.5vh 0;font-size: 1.8rem;}
/*news*/
.second-scroll {background: url(img/backSecondScroll.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
margin-top: 5%;overflow:hidden;padding-bottom: 10vh;}
  .call{background: #009ea8; color:black;padding: 5px;width: 80%;margin-top: 8vh;
    text-transform: uppercase;text-align: center;font:PT Sans;font-size:1rem;font-weight: bold;}
  .line {border-top: 1px solid #6f7477;margin-top: 5vh;}
  .news-call{color:black;text-transform: uppercase;text-align: left;font:PT Sans;overflow: hidden;}

.news-holder {margin: 0 auto;height: 71vh;
    font-size: 13px;
  display: flex;overflow: hidden;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.news-header{margin-bottom: -1vh;}
.news-header img{width: 100%;}

.news-stat img{width: 2vh;height: 2vh;}
.views{border-top: 1px solid #6f7477;border-left: 1px solid #6f7477;border-right: 1px solid #6f7477;border-bottom: 1px solid #6f7477;
  padding:1.5vh;}
.views img{width: 3vh;height: 2vh;}
.likes{border-top: 1px solid #6f7477;border-right: 1px solid #6f7477;border-bottom: 1px solid #6f7477;
  padding:1.5vh;}
.comments {border-top: 1px solid #6f7477;border-right: 1px solid #6f7477;border-bottom: 1px solid #6f7477;
  padding:1.5vh;}
.news-headlines {
  list-style: none;
  position: relative;
}

.news-headlines li {
    position: relative;
    z-index: 20;
    width:100%;
    font-size:14px;
}
.nh-anim {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }


li.selected img{-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 25%, 87% 48%, 100% 69%, 100% 84%, 100% 100%, 15% 100%, 0 100%, 0% 85%);
clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 25%, 87% 48%, 100% 69%, 100% 84%, 100% 100%, 15% 100%, 0 100%, 0% 85%);}
.news-headlines .highlight {
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }
.news-headlines {background:white;
   float: left;
   width: 35%;overflow-y:scroll;
}
.news-spacer{width: 3%;background: transparent !important;}
.news-preview {
   float: left;
   width: 60%;
   position: relative;
   z-index: 5;
   position: relative;
}

li img{width: 100%;margin:0;}
li p{color: #6f7477;font-size:1rem;margin:2vh !important;}
li h5{color: #4283b5;font-size:1.2rem;margin:2vh 0 1vh 2vh !important;overflow: hidden;}
li h4 {color: black;font-size:1.3rem;margin:1vh 0 1vh 2vh !important;overflow: hidden;}
li a{color: black;font-size: 1rem;font-weight: bold;margin:1vh 0 1vh 2vh !important;}
.news-preview img {
    display: block;
    margin: 0 auto 5px auto;} 

.news-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right:0;
    display: none;
}
.news-stat{background: white;}
.resume{border-left: 1px solid #6f7477;border-right: 1px solid #6f7477;
  padding:10px;
  color:black;height: 34vh;
   position: relative;
padding-bottom:5vh;background: white;}
.resume p{font-size: 1.2rem;margin: 4vh 0 1vh 2vh;}
a.news-title {text-decoration: none;
  display:block;
  color:black;
  margin:2vh;
  font-size:1.1rem;
  font-weight: bold;
}
a.news-title:hover{
  background:none;
  text-decoration:underline;
}

.top-content {
    display: block;
}
.news-date{border: 1px solid #6f7477;position:absolute;
bottom:0;}
.news-date p{font-size: 1.1rem;color:#6f7477;padding: 0;margin: 2vh 4vh;}

::-webkit-scrollbar {width: 5px;}

::-webkit-scrollbar-track {background: #f1f1f1;}

::-webkit-scrollbar-thumb {background: #888;}

::-webkit-scrollbar-thumb:hover {background: #555; }

/*partners*/
.third-scroll{background: url(img/number.png) no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;}
.partners{margin:0 0 15vh 2vh;}
.slider {height: 20vh;}
.sharp,.asp, .west{padding: 0 8% 0 8%;}
.slideControls{
  position: absolute;
  width: 100%;
  left: 0;
}

.slideControls .slideNext{margin-top: 3vh !important;
  right: 5%;z-index: 100;
  position: absolute;
  cursor: pointer;
  background: url(img/arrow-prev.png);
  transform: scale(-1, 1);
}
.slideControls .slidePrev{margin-top: 3vh !important;
  left: -8%; 
  position: absolute;
  cursor: pointer;
  background: url(img/arrow-prev.png);
}

.carousel {
  position: relative;
}

.carousel .slide {width: 22vh;
  text-align: center;
}
.lSSlideOuter .lSPager.lSpg{display: none;}
.arrow-prev {width: 3vh !important;height: 3vh !important;}
.arrow-next {width: 3vh !important;height: 3vh !important;}





.links{margin-top: -5vh;
  background: url(img/map.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%;
  overflow: hidden;
  }
.spacer-2{height: 5vh;}  
.white-line{border-top: 1px solid white;margin-top: 5vh;}
.links-call{color: white; overflow:hidden;text-transform: uppercase;text-align: left;font:PT Sans;margin-bottom: 12vh;}
.links p{color: white;font-size: 1rem;margin:1vh 0 12vh 0;}
.links img{width: 55%;}
.kontora p {margin-left: 2vh;}
.kvanta,.cyborg,.liceum,.mpdyu{display: flex;}
.kvanta p{margin: 10% 0 0 4%;}
.kvanta-logo{height:53% !important;width: 32% !important;}
.cyborg img{height:60% !important;width: 25% !important;margin-right: 2vh;}
.mpdyu img{height:55% !important;width: 32% !important;margin-right: 2vh;}
.liceum img {height:70% !important;width: 40% !important;margin-right: 2vh;}
.cyborg p,.mpdyu p,.liceum p{margin-top: 5vh;}
.ruler img{float: right;width: 50px;}


.menu-footer {background: #707070;text-align: center;padding: 1.5vh 1vh 1.5vh 1vh;margin-top: -0.1vh;}
.menu-footer a {color: white;text-decoration: none;font-size: 1rem;}
.menu-footer a:hover{font-weight: bold;}

footer{background: url(img/footerBack.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
text-align: center;
padding: 8vh 0 0 8vh;}

footer p {color: white;font-size: 1rem;}
footer a {color: #bbbbbf;text-decoration: none;font-size: 1rem;line-height: 1.3;}
.footer-logo{text-align: center;}
.footer-logo img{height: 10vh;width: 18vh;}
.footer-logo p{margin-bottom: -0.2vh;}
.tag{display: flex;text-align: left;padding: 0;vertical-align: bottom;}
.tag p{color: #bbbbbf;}
.tag img{width: 2vh;height: 3vh;margin:0 2vh 2vh 0;}
.westsmall{display: flex;text-align: left;padding: 0;vertical-align: text-bottom;}
.westsmall img{width: 4vh;height: 4vh;margin:0 2vh 2vh 0;}
.westsmall p{color: #bbbbbf;}
.scheme a, .policy a{border-bottom: 1px solid #bbbbbf;}
.scheme a:hover, .policy a:hover{color: white;text-decoration: none;}

.facebook{background:url(img/facebook.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 2vh;}
.facebook:hover{background:url(img/facebook-hover.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;}

 .instagram{background:url(img/instagram.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;margin:2.5vh 2vh 2.5vh 2vh;}
.instagram:hover{background:url(img/instagram-hover.png) no-repeat;background-size: 4vh 4vh;
 width: 4vh;height: 4vh;}

.mail{display: flex;margin-top: 2vh;}
.mail img{width: 4vh;height: 4vh;}
.mail p{color: #bbbbbf;margin-left: 2vh;}
.viber{margin-top: 2vh;}
.viber img {width: 4vh;height: 4vh;float: left !important;}
.viber a{margin-left: 2vh;float: left !important;}
.viber a:hover{text-decoration: none;color: white;}











