
    <div class="header_menu">
    <ul>
        <li class="menu_li1 menu_li">
            <a href="#" class="menu_li_a">Все сайты «Газпром Нефти»
                <img src="./img/header/arrow.png" alt="">
            </a>
            <div class="drop_down_sites">
                <a href="#" class="close">
                    <img src="./img/close.png" alt="">
                </a>
                <div class="drop_down_sites_left">
                    <div class="site_section">
                        <h1 class="main_text">Разделы</h1>
                        <div class="line"></div>
                        <ul class="sites-list k">
                            <li class="sites__item"><a href="analyse.html" class="sites__link" >АНАЛИЗ ПРОДАЖ</a></li>
                            <li class="sites__item"><a href="calculator.html" class="sites__link">Калькулятор</a></li>
                            <li class="sites__item"><a href="cars.html" class="sites__link">Машины</a></li>
                            <li class="sites__item"><a href="complex.html" class="sites__link">Комплекс</a></li>
                            <li class="sites__item"><a href="consuption.html" class="sites__link">ЗАЯВКА</a>  </li>
                            <li class="sites__item"><a href="contacts.html" class="sites__link">Контакты   </a></li>
                            <li class="sites__item"><a href="debit.html" class="sites__link">ДОГОВОРЫ</a></li>
                            <li class="sites__item"><a href="delivery.html" class="sites__link">ДОСТАВКА</a></li>
                            <li class="sites__item"><a href="goods.html" class="sites__link">СПИСОК ТОВАРОВ</a></li>
                            <li class="sites__item"><a href="history.html" class="sites__link">ИСТОРИЯ</a></li>
                            <li class="sites__item"><a href="library.html" class="sites__link">БИБЛИОТЕКА</a></li>
                            <li class="sites__item"><a href="mailing.html" class="sites__link">РАССЫЛКИ</a></li>
                            <li class="sites__item"><a href="mydata.html" class="sites__link">ЛИЧНЫЙ КАБИНЕТ</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_li2 menu_li">
            <p>Ваша задолженность: <span>450 000 р</span> <br>
                Срок погашения: 31.09.2015</p>
        </li>
        <li class="menu_li3 menu_li">
            <a href="#" class="menu_li_a"><span>Выберите </span>отделение
                <img src="./img/header/arrow.png" alt="">
            </a>
            <div class="drop_down_sites">
                <a href="#" class="close">
                    <img src="./img/close.png" alt="X">
                </a>
                <ul class="list-popup">
                    <li class="sites__item">
                        <a href="http://www.gpnbonus.ru/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Екатеринбург</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://www.gpncard.ru/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Кемерово</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://www.gazpromneft-metan.ru/" class="sites__link" target="_blank">
                            Российская Федерация, г. Красноярск</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г. Москва</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Новосибирск</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г. Омск</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Санкт-Петербург</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г. Тюмень</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Челябинск</a>
                    </li>
                    <li class="sites__item">
                        <a href="http://g-energy.org/" class="sites__link" target="_blank">
                            Российская
                            Федерация, г.
                            Ярославль</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu_li4 menu_li">
            <a href="#" class="menu_li_a">Контакты</a>
            <img src="./img/header/TEL.png" alt="Phone">
        </li>
        <li class="menu_li6 menu_li show_window">
            <a href="#" class="menu_li_a">
                <span></span>
            </a>
        </li>
        <li class="menu_li5 menu_li">
            <a href="#" class="menu_li_a">
                <img src="./img/header/KEY.png" alt="">
            </a>
            <div class="login_block">
                <h1 class="main_text">АВТОРИЗАЦИЯ В СИСТЕМЕ</h1>
                <div class="line"></div>
                <form>
                    <div class="input-container">
                        <input type="email" placeholder="E-mail">
                        <input type="password" placeholder="********">
                    </div>
                    <p><a href="#" class="register-link">Регистрация</a></p>
                    <p><a href="#" class="last-pass-link">Забыли пароль?</a></p>
                    <button type="submit" class="button_delete">Войти</button>
                </form>
            </div>
        </li>
    </ul>
</div>
<div class="logo_bg">
    <div class="logo">
        <a href="index.html">
            <img class='logo1' src="./img/header/logo1.png" alt="">
            <img class='logo2' src="./img/header/logo2.png" alt="">
        </a>
        <img class='search' src="./img/header/search.jpg" alt="">
        <input type="text">
        <div class="small_menu">
            <img src="./img/header/small_menu.png" alt="">
            <ul class="mobile-menu">
                <li class="about-company">
                    <a href="#" class="active">О компании</a>
                    <!--<a href="#" class="ico-library">-->
                    <!--<img src="./img/library-icon.png" alt="library-icon">-->
                    <!--</a>-->
                    <!--<a href="#" class="ico-que-mobile" data-toggle="modal" data-target="#que">?</a>-->
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#">Наш бизнес</a></li>
                            <li><a href="#">Инфраструктура</a></li>
                            <li><a href="#">Заключение договора</a></li>
                        </ul>
                    </div>
                </li>
                <li class="map-nef">
                    <a href="#">Карта нефтебаз</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#">Наш бизнес</a></li>
                            <li><a href="#">Инфраструктура</a></li>
                            <li><a href="#">Заключение договора</a></li>
                        </ul>
                    </div>
                </li>
                <li class="goods">
                    <a href="#">Товары</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#">Наш бизнес</a></li>
                            <li><a href="#">Инфраструктура</a></li>
                            <li><a href="#">Заключение договора</a></li>
                        </ul>
                    </div>
                </li>
                <li class="services">
                    <a href="#">Услуги</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#">Наш бизнес</a></li>
                            <li><a href="#">Инфраструктура</a></li>
                            <li><a href="#">Заключение договора</a></li>
                        </ul>
                    </div>
                </li>
                <li class="contacts">
                    <a href="contacts.html">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li class="m_menu_li1 m_menu_li">
                <a href="#">О компании </a>
                <div class="sub-menu1">
                    <ul>
                        <li><a href="#">Наш бизнес</a></li>
                        <li><a href="#">Инфраструктура</a></li>
                        <li><a href="#">Заключение договора</a></li>
                    </ul>
                </div>
            </li>
            <li class="m_menu_li3 m_menu_li">
                <a href="#">Карта нефтебаз</a>
                <div class="sub-menu1">
                    <ul>
                        <li><a href="#">Наш бизнес</a></li>
                        <li><a href="#">Инфраструктура</a></li>
                        <li><a href="#">Заключение договора</a></li>
                    </ul>
                </div>
            </li>
            <li class="m_menu_li4 m_menu_li">
                <a href="#">Товары</a>
                <div class="sub-menu1">
                    <ul>
                        <li><a href="#">Наш бизнес</a></li>
                        <li><a href="#">Инфраструктура</a></li>
                        <li><a href="#">Заключение договора</a></li>
                    </ul>
                </div>
            </li>
            <li class="m_menu_li5 m_menu_li">
                <a href="#">Услуги</a>
                <div class="sub-menu1">
                    <ul>
                        <li><a href="#">Наш бизнес</a></li>
                        <li><a href="#">Инфраструктура</a></li>
                        <li><a href="#">Заключение договора</a></li>
                    </ul>
                </div>
            </li>
            <li class="m_menu_li6"><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>
<div class="cover-div"></div>
<div class="message">
    <h1 class="main_text">ОТПРАВКА СООБЩЕНИЯ ПЕРСОНАЛЬНОМУ МЕНЕДЖЕРУ</h1>
    <div class="line"></div>
    <p>Добро пожаловать! <br>
        Мы рады приветствовать Вас на сайте Личного кабинета для постоянных клиентов компании «Газпромнефть-Региональные
        продажи». С помощью данной формы,
        Вы можете связаться с Вашим Персональным менеджером.</p>
    <div class="ta">
        <p>
            <span>Ваше имя</span>
            <span class="message_right">Иван Петров</span>
        </p>
        <span>Контактный телефон</span>
        <input type="text" placeholder="+7(490)666745">
        <br>
        <p>
            <span>Ваш e-mail</span>
            <span class="message_right e-mail">ivan.petrov@example.com</span>
        </p>
        <span>Текст сообщения</span>
        <input type="text" placeholder="Ваше сообщение" class="user_message">

    </div>
    <button class="button_delete">Отправить</button>
    <div class="block_a_a">
        <a href="#">Отмена</a>
    </div>
</div>
<div class="test_block">
    <h1 class="main_text">Анкета / Опрос</h1>
    <div class="line"></div>
    <p>Добро пожаловать! <br>
        Мы рады приветствовать Вас на сайте Личного кабинета для постоянных клиентов
        компании «Газпромнефть-Региональные продажи». Плжалуйста, ответьте на вопросы
        данной анкеты. Спасибо!</p>
    <div class="test">
        <p><span class="up">ВОПРОС №1:</span>ВОПРОС №1: Текст вопроса, текст, текст, текст. Текст вопроса, текст, текст,
            текст. Текст вопроса, текст, текст, текст.</p>
        <div class="test_variant">
            <div class="test_variant_left">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
            <div class="test_variant_right">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
        </div>
        <p><span class="up">ВОПРОС №2:</span>ВОПРОС №1: Текст вопроса, текст, текст, текст. Текст вопроса, текст, текст,
            текст. Текст вопроса, текст, текст, текст.</p>
        <div class="test_variant">
            <div class="test_variant_left">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
            <div class="test_variant_right">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
        </div>
        <p><span class="up">ВОПРОС №3:</span>ВОПРОС №1: Текст вопроса, текст, текст, текст. Текст вопроса, текст, текст,
            текст. Текст вопроса, текст, текст, текст.</p>
        <div class="test_variant">
            <div class="test_variant_left">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
            <div class="test_variant_right">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
        </div>
        <p><span class="up">ВОПРОС №4:</span>ВОПРОС №1: Текст вопроса, текст, текст, текст. Текст вопроса, текст, текст,
            текст. Текст вопроса, текст, текст, текст.</p>
        <div class="test_variant">
            <div class="test_variant_left">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
            <div class="test_variant_right">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
        </div>
        <p><span class="up">ВОПРОС №5:</span>ВОПРОС №1: Текст вопроса, текст, текст, текст. Текст вопроса, текст, текст,
            текст. Текст вопроса, текст, текст, текст.</p>
        <div class="test_variant">
            <div class="test_variant_left">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
            <div class="test_variant_right">
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 1</span>
                </div>
                <div class="uns">
                    <input type="checkbox">
                    <span>Вариант ответа 2</span>
                </div>
            </div>
        </div>

        <div class="test_bottom">
            <span>Укажите Ваше имя</span>
            <input type="text" placeholder=" Ваше имя">
            <br>
            <span>Укажите Ваш e-mail</span>
            <input type="text" placeholder=" Ваш e-mail">
        </div>
    </div>
    <button class="button_delete">Отправить</button>
    <div class="block_a_a">
        <a href="#">Отмена</a>
    </div>
</div>
<div class="quation_test">
    <span>?</span>
</div>
<div class="fixed_menu_block">
    <a href="#" class="fixed_menu_a">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <ul class="fixed_menu">
        <li><a href="#">О Компании</a></li>
        <li><a href="#">Карта Нефтебаз</a></li>
        <li><a href="#">Товары</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(".fixed_menu_a").click(function () {
        $(this).parent().toggleClass('active');
    });
    $(".quation_test").click(function () {
        $('.test_block').toggleClass('active');
        $('.cover-div').toggleClass('active');

    });
    $(document).mouseup(function (e) {
        if ($('.test_block').has(e.target).length === 0) {
            $('.test_block').removeClass("active");
        }
    });
    $(document).mouseup(function (e) {
        if ($('.fixed_menu_block').has(e.target).length === 0) {
            $('.fixed_menu_block').removeClass("active");
        }
    });
    $('.block_a_a').click(function () {
        $(this).parent().removeClass('active');
        $('.cover-div').removeClass('active');

    })
    window.onscroll = function () {
        var scroll = $('.fixed_menu_block').offset().top;
        var scroll2 =$('.quation_test');
        if (scroll > 500 ) {
            $('.fixed_menu_block').css('top', 0);
            $('.quation_test').css('top', 0);

        } else if (scroll < 500) {
            $('.fixed_menu_block').css('top', '34%');
            $('.quation_test').css('top', '34%');
        }

    };
    $('.show_window').click(function (e) {
        $('.cover-div').toggleClass('active');
        $('.message').toggleClass('active');
        $('.message_bg').toggleClass('active');
    });
    $('.cover-div').click(function (e) {
        $(this).removeClass('active');
        $('.message').removeClass('active');
        $('.message_bg').removeClass('active');

    });
    // modal window message
</script>
<script>
    $('.show_window').click(function () {
        $('.cover-div').addClass('active');
        $('.message').addClass('active');
    });
    $('.cover-div').click(function (e) {
        $(this).removeClass('active');
        $('.message').removeClass('active');
    });
    // modal window message
    //menu drop
    $(document).mouseup(function (e) {
        var container = $(".login_block");
        if (container.has(e.target).length === 0 ) {
            container.removeClass("active");
        }
    });

    $('.menu_li_a').click(function (e) {
        e.preventDefault();
        $('.menu_li').children(".drop_down_sites").removeClass("active");
        $(this).parent().children(".drop_down_sites").toggleClass('active');

    });
    $('.menu_li5').click(function (e) {
        $('.login_block').toggleClass('active');
    });


    $(document).mouseup(function (e) {
        var container = $(".menu_li");
        var container2 = $('.close');
        if (container.has(e.target).length === 0 || $('.close').click()) {
            container.children('.drop_down_sites').removeClass("active");
        }
    });

    $('.close').click(function (e) {
        e.preventDefault();
        $('drop_down_sites').removeClass("active");
    });
    $('.mobile-menu li').click(function (e) {
        e.preventDefault();
        $(this).children(".sub-menu").toggleClass('active');
        $(this).children("a").toggleClass('active');

    });
    $('.small_menu img').click(function (e) {
        $('.mobile-menu').toggleClass('active');
    });
    $(document).mouseup(function (e) {
        var container3 = $(".small_menu");
        if (container3.has(e.target).length === 0) {
            container3.children('.mobile-menu').removeClass("active");
        }
    });
    $('.m_menu_li').hover(function () {
        $(this).children('.sub-menu1').toggleClass('active')
    });
    //menu drop


</script>
