<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description"
          content="Розробка веб сайтів, Олександр Білий, місто Чернівці, Україна.
          Створення різноманітних веб сайтів,сайт-портфоліо,лендінг,сайт для роботи.
           Ціна веб сайта, веб сайт на замовлення у Чернівцях.
          Веб розробка у Чернівцях. Веб разработчик, Черновцы. Украина">
    <title>Shade Designs</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="wrapper">

    <header class="header-about">

        <nav class="nav-about nav-default">

            <div class="header-about-container">
                <div class="logo">
                    <a href="../index.html"><img src="../img/header/logo-small.png" alt="ShadeDesigns"></a>
                </div>

                <div class="email-header">
                    <a href="../index.html"><img src="../img/header/mail.png" alt="email"></a>
                </div>

                <ul>
                    <li><a href="../index.html#portfolio" class="header_nav--link scroll">Portfolio</a></li>
                    <li><a href="./aboutUs.html" class="header_nav--link">About Us</a></li>
                    <li><a href="#" class="header_nav--link">Blog</a></li>
                    <li><a href="#" class="header_nav--link">Contacts</a></li>
                </ul>
            </div>

        </nav>

        <div class="title-about-container">

            <div class="left">
                <div class="title-about">
                    <h2>About Us</h2>
                    <span>and our team</span>
                </div>
            </div>
            <div class="right">
                <img src="../img/main/about-bg.png" alt="">
            </div>

        </div>

    </header>

    <main>
        <div class="container">

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <div class="footer-img-bg">
                    <a href="mailto:shade-designs@com"><img src="../img/footer/footer-left-bg-2.jpg" alt="shade-designs@com"></a>
                </div>
                <!--<div class="footer-left&#45;&#45;description">-->
                <!--<a href="mailto:shade-designs@com">-->
                <!--<img src="../img/footer/mail-envelopes-couple.png" alt="mail-envelopes-couple">-->
                <!--<span>shade-designs@com</span>-->
                <!--</a>-->
                <!--<p>© 2017 All right reserved  Shade.Designs</p>-->
                <!--</div>-->
            </div>
            <div class="footer-right">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>

</div>
<script src="../libs/jq-1.12.4.js"></script>
<script src="../js/common.js"></script>
</body>
</html>