<div class="footer">
    <p class="main_text">© 2016 ООО «ГАЗПРОМНЕФТЬ-РЕГИОНАЛЬНЫЕ ПРОДАЖИ»</p>
    <div class="footer_search">
        <form class="search-footer">
            <input type="search">
            <button type="submit"><img src="./img/search-footer.png" alt="search-footer"></button>
        </form>
        <p>Если Вы нашли ошибку в работе сайта, пожалуйста,
            <a href="#">сообщите</a> о ней в службу поддержки сайта.</p>
    </div>
    <div class="footer_sections">
        <div class="footer_section">
            <h1 class="main_text">ИНФОРМАЦИЯ О САЙТЕ</h1>
            <ul>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </div>
        <div class="footer_section">
            <h1 class="main_text">КОНТАКТЫ</h1>
            <ul>
                <li><a href="#">Контактная информация</a></li>
                <li><a href="#"> Обратная информация</a></li>
            </ul>
        </div>
        <div class="footer_section">
            <h1 class="main_text">ПОЛЕЗНЫЕ ССЫЛКИ</h1>
            <ul>
                <li><a href="#">ЧаВо</a></li>
                <li><a href="#">Библиотека</a></li>
            </ul>
        </div>
    </div>
</div>
