:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

/* @media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
} */

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.hide {
  display: none;
}

.show {
  display: block;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.btn{
  background-color: #0275d8;
  color: white;
  height: 25px;
  line-height: 11px;
}
#details-view{
  position: absolute;
  background: white;
  width: 1160px;
  height: 100vh;
  z-index: 4;
  left: 0px;
}
.tableShow{
  display: table;
}
.edit{
  height: 400px;
}
.emptyList{
  text-align: center;
  font-size: 26px;
  margin: 10px auto 10px;
}