body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  word-wrap: unset !important;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span,
p {
  color: white;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

.cont {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 500px;
  height: 799px;
}

.cont.active {
  overflow-x: hidden;
}

.rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: black;
}

.menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: .3s;
  transition: .3s;
  height: 799px;
  background: url("../img/menu.png") no-repeat;
  background-size: 100% 799px;
}

.menu.active {
  -webkit-transition: .3s;
  transition: .3s;
  left: 0;
}

.back {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  height: 799px;
  z-index: 4;
  background: url("../img/back.png") no-repeat;
  background-size: 100% 799px;
}

.back.active-bg {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform: translateX(50%) scale3d(0.8, 0.8, 0.2);
  transform: translateX(50%) scale3d(0.8, 0.8, 0.2);
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0VBdUJFLDRCQUEwQjtFQUMxQixVQUFTO0VBQ1QsV0FBVTtFQUNWLGdDQUErQjtFQUMvQixtQkFBa0I7RUFDbEIsaUJBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsMEJBQXlCO0VBQ3pCLGtCQUFpQjtDQUNsQjs7QUFFRDtFQUNFLGFBQVk7Q0FDYjs7QUFFRDs7O0VBR0UsVUFBUztDQUNWOztBQUVEOzs7Ozs7Ozs7RUFTRSxtQkFBa0I7RUFDbEIsb0JBQW1CO0NBQ3BCOztBQUVEO0VBQ0UsaUJBQWdCO0NBQ2pCOztBQUVEOztFQUVFLGlCQUFnQjtDQUNqQjs7QUFFRDs7Ozs7O0VBTUUsZ0JBQWU7RUFDZixvQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSx5QkFBd0I7Q0FDekI7O0FBRUQ7RUFDRSw0QkFBMkI7Q0FDNUI7O0FBRUQ7OztFQUdFLHFCQUFvQjtFQUNwQixtQkFBa0I7RUFDbEIscUJBQW9CO0VBQ3BCLGNBQWE7Q0FDZDs7QUFDRDtFQUNFLGlCQUFnQjtFQUNoQixtQkFBa0I7RUFDbEIsYUFBWTtFQUNaLGFBQVk7RUFDWixjQUFhO0NBSWQ7O0FBVEQ7RUFPSSxtQkFBa0I7Q0FDbkI7O0FBRUg7RUFDRSxtQkFBa0I7RUFDbEIsT0FBTTtFQUNOLFFBQU87RUFDUCxZQUFXO0VBQ1gsYUFBWTtFQUVaLGtCQUFpQjtDQUNsQjs7QUFDRDtFQUNFLFlBQVc7RUFDWCxtQkFBa0I7RUFDbEIsT0FBTTtFQUNOLFlBQVc7RUFDWCx3QkFBZTtFQUFmLGdCQUFlO0VBQ2YsY0FBYTtFQUNiLDZDQUE0QztFQUM1Qyw0QkFBMkI7Q0FNNUI7O0FBZEQ7RUFVSSx3QkFBZTtFQUFmLGdCQUFlO0VBRWYsUUFBTztDQUNSOztBQUVIO0VBQ0UsWUFBVztFQUNYLHdCQUFlO0VBQWYsZ0JBQWU7RUFDZixjQUFhO0VBQ2IsV0FBVTtFQUNWLDZDQUE0QztFQUM1Qyw0QkFBMkI7Q0FPNUI7O0FBYkQ7RUFTSSx3QkFBZTtFQUFmLGdCQUFlO0VBQ2YsMkJBQWtCO1VBQWxCLG1CQUFrQjtFQUNsQiwwREFBK0M7VUFBL0Msa0RBQStDO0NBQ2hEIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJzbWFydC1ncmlkXCI7XHJcbiRvcmFuZ2U6ICNFNzQ3MDA7XHJcbmJvZHksXHJcbmRpdixcclxuZGwsXHJcbmR0LFxyXG5kZCxcclxudWwsXHJcbmxpLFxyXG5oMSxcclxuaDIsXHJcbmgzLFxyXG5oNCxcclxuaDUsXHJcbmg2LFxyXG5wcmUsXHJcbmNvZGUsXHJcbmZvcm0sXHJcbmZpZWxkc2V0LFxyXG5pbnB1dCxcclxudGV4dGFyZWEsXHJcbnAsXHJcbmJsb2NrcXVvdGUsXHJcbnRoLFxyXG50ZCB7XHJcbiAgd29yZC13cmFwOiB1bnNldCFpbXBvcnRhbnQ7XHJcbiAgbWFyZ2luOiAwO1xyXG4gIHBhZGRpbmc6IDA7XHJcbiAgZm9udC1mYW1pbHk6IFJvYm90bywgc2Fucy1zZXJpZjtcclxuICBmb250LXN0eWxlOiBub3JtYWw7XHJcbiAgZm9udC13ZWlnaHQ6IDQwMDtcclxufVxyXG5cclxudGFibGUge1xyXG4gIGJvcmRlci1jb2xsYXBzZTogY29sbGFwc2U7XHJcbiAgYm9yZGVyLXNwYWNpbmc6IDA7XHJcbn1cclxuXHJcbnNwYW4sIHAge1xyXG4gIGNvbG9yOiB3aGl0ZTtcclxufVxyXG5cclxuZmllbGRzZXQsXHJcbmltZyxcclxuYWJiciB7XHJcbiAgYm9yZGVyOiAwO1xyXG59XHJcblxyXG5hZGRyZXNzLFxyXG5jYXB0aW9uLFxyXG5jaXRlLFxyXG5jb2RlLFxyXG5kZm4sXHJcbmVtLFxyXG5zdHJvbmcsXHJcbnRoLFxyXG52YXIge1xyXG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICBmb250LXdlaWdodDogbm9ybWFsO1xyXG59XHJcblxyXG51bCBsaSB7XHJcbiAgbGlzdC1zdHlsZTogbm9uZTtcclxufVxyXG5cclxuY2FwdGlvbixcclxudGgge1xyXG4gIHRleHQtYWxpZ246IGxlZnQ7XHJcbn1cclxuXHJcbmgxLFxyXG5oMixcclxuaDMsXHJcbmg0LFxyXG5oNSxcclxuaDYge1xyXG4gIGZvbnQtc2l6ZTogMTAwJTtcclxuICBmb250LXdlaWdodDogbm9ybWFsO1xyXG59XHJcblxyXG5zdXAge1xyXG4gIHZlcnRpY2FsLWFsaWduOiB0ZXh0LXRvcDtcclxufVxyXG5cclxuc3ViIHtcclxuICB2ZXJ0aWNhbC1hbGlnbjogdGV4dC1ib3R0b207XHJcbn1cclxuXHJcbmlucHV0LFxyXG50ZXh0YXJlYSxcclxuc2VsZWN0IHtcclxuICBmb250LWZhbWlseTogaW5oZXJpdDtcclxuICBmb250LXNpemU6IGluaGVyaXQ7XHJcbiAgZm9udC13ZWlnaHQ6IGluaGVyaXQ7XHJcbiAgb3V0bGluZTogbm9uZTtcclxufVxyXG4uY29udHtcclxuICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICBtYXJnaW46IGF1dG87XHJcbiAgd2lkdGg6IDUwMHB4O1xyXG4gIGhlaWdodDogNzk5cHg7XHJcbiAgJi5hY3RpdmV7XHJcbiAgICBvdmVyZmxvdy14OiBoaWRkZW47XHJcbiAgfVxyXG59XHJcbi5yZWN0e1xyXG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICB0b3A6IDA7XHJcbiAgbGVmdDogMDtcclxuICB3aWR0aDogNTBweDtcclxuICBoZWlnaHQ6IDUwcHg7XHJcblxyXG4gIGJhY2tncm91bmQ6IGJsYWNrO1xyXG59XHJcbi5tZW51e1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICB0b3A6IDA7XHJcbiAgbGVmdDogLTEwMCU7XHJcbiAgdHJhbnNpdGlvbjogLjNzO1xyXG4gIGhlaWdodDogNzk5cHg7XHJcbiAgYmFja2dyb3VuZDogdXJsKCcuLi9pbWcvbWVudS5wbmcnKSBuby1yZXBlYXQ7XHJcbiAgYmFja2dyb3VuZC1zaXplOiAxMDAlIDc5OXB4O1xyXG4gICYuYWN0aXZle1xyXG4gICAgdHJhbnNpdGlvbjogLjNzO1xyXG5cclxuICAgIGxlZnQ6IDA7XHJcbiAgfVxyXG59XHJcbi5iYWNre1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIHRyYW5zaXRpb246IC4zcztcclxuICBoZWlnaHQ6IDc5OXB4O1xyXG4gIHotaW5kZXg6IDQ7XHJcbiAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL2JhY2sucG5nXCIpIG5vLXJlcGVhdDtcclxuICBiYWNrZ3JvdW5kLXNpemU6IDEwMCUgNzk5cHg7XHJcblxyXG4gICYuYWN0aXZlLWJne1xyXG4gICAgdHJhbnNpdGlvbjogLjNzO1xyXG4gICAgcGVyc3BlY3RpdmU6IDUwMHB4O1xyXG4gICAgdHJhbnNmb3JtOnRyYW5zbGF0ZVgoNTAlKSBzY2FsZTNkKC44LCAwLjgsIDAuMik7XHJcbiAgfVxyXG59Il19 */